.container {
  max-width: 1080px;
  margin: 20px auto;
}
.widgets {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
}
@media (max-width: 810px) {
  .widgets {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 100%;
  }
}