@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Yeseva One", cursive;
  background: linear-gradient(-45deg, #ccc7da, #bda5ae, #b1b0d1, #cbcbb1);
  background-size: 400% 400%;
  animation: gradient 60s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
